
        .wrapper{max-width:90%; margin: 0 auto;}
        h1{text-align: center;margin: 30px;}
        table{margin-top:30px}
        .display-none{display: none;}
        tbody {text-transform: uppercase;}

        #buttons{
             margin: 50px;
             padding: 8px;

        }
        .form-row{
             margin: 50px;
        }
      footer{
          text-align:center;
          font-size:22px;
          background:black;
          color:white;
          display:flex;
          justify-content:center;
          font-family:"apple-chancery";
          width:100%;
          height:auto;
          margin:0;
          margin-top:100px;
      }